@import url(./global.css);

.menu {
    margin: 0.5rem;
    width: (100% - 0.5rem);
    height: 4rem;
    text-align: center;
    list-style: none;
}

.menu__item {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0 1rem 0 0.5rem;
    transition: transform 0.1s ease-in;
}

.menu__item:hover {
    text-decoration-line: overline;
    text-decoration-style: wavy;
    text-decoration-color: var(--accent-color);
    transform: scale(1.1);
}

#menu__icon {
    width: 4rem;
    vertical-align: middle;
}

.slider {
    padding: 2rem;
    height: calc(100vh - 5rem);
    box-sizing: border-box;
    position: relative;

}

.slider__control {
    display: inline-block;
    position: absolute;
    left: 4rem;
    z-index: 10;
}

.slider__btn {
    border: 1px solid honeydew;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    color: var(--accent-color-dark);
    background-color: var(--accent-color);
    display: block;
    margin: 4rem 0 4rem;
    transition: transform 0.5s ease-in-out;
}

.slider__btn:hover {
    transform: scale(1.5) rotate(1turn);
}

#slider__line {
    display: inline-block;
    background-color: var(--accent-color-light);
    height: 60%;
    width: 1px;
    position: absolute;
    left: 4.5rem;
}

.slider__scroller {
    position: absolute;
    top: 2rem;
    left: 7rem;
    
    width: 70vw;
    height: 70vh;

    overflow-y: auto;
    overscroll-behavior-inline: contain;

    scroll-snap-type: y mandatory;
}

.slider__scroller > * {
    scroll-snap-align: start;
}

.slider__scroller p {
    margin-bottom: 1rem;
    width: 50vw;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

h2 {
    color: var(--accent-color);
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--accent-color);
    margin: 0 1rem 1.2rem 0;
    letter-spacing: 0.2rem;
}

ul {
    margin-bottom: 2rem;
}

#my-name {
    color: var(--accent-color-secondary);
}

.social-link {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 0.4rem;
    width: 10rem;
}

.social-link:hover {
    opacity: 0.7;
}

.social-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.slider__card {
    padding-top: 4rem;
    margin-bottom: 12rem;
    margin-right: 1rem;
    height: 10rem;
}

::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color-secondary);
    border-radius: 100vw;
}

ul {
    list-style: none;
}


#hard-skills {
    display: inline-flex;
    width: 35%;
    margin-right: 2em;
}

#soft-skills {
    display: inline-flex;
    width: 30%;
    margin-right: 2em;
}

#languages {
    display: inline-flex;
    width: 25%;
}

details {
    color: var(--text-color-secondary);
    margin-bottom: 1.5rem;
    background-color: rgb(202, 217, 220);
    padding: 0.5rem;
    border-radius: 0.6rem;
}

details summary {
    cursor: pointer;
    margin-bottom: 1rem;
}

details summary > * {
    display: inline;
}
